html,body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
}
h3{
  color:  hsl(229, 23%, 23%);
  font-weight: bold;
  font-size: 1.2em;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background:url('../public/bg-pattern-bottom.svg') 150% 35em no-repeat, url('../images/bg-pattern-top.svg') -50% -35em no-repeat;
  background-color: hsl(185, 75%, 39%);
}

.content_block{
  background: url('../public/bg-pattern-card.svg') no-repeat, white;
  background-size: 450px 180px;
  height: 480px;
  width: 450px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.profile{
  display: flex;
  position: relative;
  top: 18%;
  padding-top: 40px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.profile_info>h3{
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 0.5em
}

.profile_img>img{
  border-radius: 100%;
  border: solid white 5px;
}

.stats_container{
  align-items: end;
  width: 100%;
  padding-bottom: 10px;
}

.stats{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
  position: relative;
  text-align: center;
}
.stat_count>h3,p{
  padding: 0;
  margin: 0;
  text-align: center;
}

p,span{
  color: gray;
}
span{
  font-weight: 200;
  font-size: 1.2em;
}

hr {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  width: 100%;
  height: 2px;
  border-left: 0;
  border-right: 0;
}
